.overlay{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgba(0,0,0,0.3);
  z-index:10;
}

.container {
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  width: 50%;
  border: 1px solid;
  background: rgba(255, 111, 97);;
  height: 30%;
  padding: 8px 24px;
  z-index:10;
  border-radius: 8px;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.field {
  display: flex;
  align-items: flex-start;
  flex: 0 0 45%;
  flex-direction: column;
}

.save_btn,
.close_btn {
  background-color: rgba(0, 128, 0, 0.625);
  color: white;
  border: 1px solid;
  padding: 8px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
}

.field input {
  width: 90%;
  padding: 8px;
}

.btn_wrapper{
  justify-content: flex-end;
  display: flex;
}
.close_btn {
  margin-right: 8px;
  background-color: red;
}
