.App {
  text-align: center;
  background: #FAD02E; /* Fallback for older browsers */
background: -webkit-linear-gradient(to bottom, #FAD02E, #FF6F61, #FF9A7B); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FAD02E, #FF6F61, #FF9A7B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;  
}
